@font-face {
  font-family: gilroybold;
  src: url(../../fonts/gilroy-bold-webfont.woff2) format("woff2"),url(../../fonts/gilroy-bold-webfont.woff) format("woff");
  font-weight: 600;
  font-style: normal
}
@font-face {
  font-family: gilroymedium;
  src: url(../../fonts/gilroy-medium-webfont.woff2) format("woff2"),url(../../fonts/gilroy-medium-webfont.woff) format("woff");
  font-weight: 500;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
h1 {
  letter-spacing: -.04em
}
h1 * {
  letter-spacing: initial
}
:root {
  font-size: 62.5%
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0
}
ul {
  padding: 0;
  margin: 0
}
ul li {
  list-style: none
}
img {
  width: 100%;
  max-width: 100%;
  height: auto
}
a {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}
a:hover {
  text-decoration: none
}
button {
  cursor: pointer;
  outline: 0!important;
  border: none;
  background: 0 0
}
circle,
path,
svg {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}
input {
  outline: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none
}
input:focus {
  outline: 0
}
img {
  width: auto;
  max-width: 100%;
  height: auto
}
body,
html {
  max-width: 100%;
  overflow-x: hidden
}
body {
  font-size: 16px;
  font-family: gilroybold,sans-serif;
  background-color: #000;
  color: #fff;
  font-weight: 500
}
.outer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.container {
  margin: 0 auto
}
@media (min-width:1200px) {
  .container {
    max-width: 1400px;
    padding-right: 15px;
    padding-left: 15px
  }
}
@media (max-width:767px) {
  .container {
    padding-right: 20px;
    padding-left: 20px
  }
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
main {
  display: block
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
details {
  display: block
}
summary {
  display: list-item
}
template {
  display: none
}
[hidden] {
  display: none
}
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.a-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.j-beetween {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.hero-page {
  margin-bottom: 80px;
  position: relative;
  min-height: 100vh;
  padding-top: 40px
}
@media (max-width:767px) {
  .hero-page {
    margin-bottom: 0;
    min-height: 60vh;
    margin-bottom: 50px
  }
}
.hero-page::before {
  content: "";
  position: absolute;
  top: 0;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(78.12%,rgba(0,0,0,0)),to(#000)),url(../images/image-2.png);
  background-image: -o-linear-gradient(top,rgba(0,0,0,0) 78.12%,#000 100%),url(../images/image-2.png);
  background-image: linear-gradient(180deg,rgba(0,0,0,0) 78.12%,#000 100%),url(../images/image-2.png);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  width: 100%;
  height: 100%
}
@media (max-width:767px) {
  .hero-page::before {
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(78.12%,rgba(0,0,0,0)),to(#000)),url(../images/hero-mobile.png);
    background-image: -o-linear-gradient(top,rgba(0,0,0,0) 78.12%,#000 100%),url(../images/hero-mobile.png);
    background-image: linear-gradient(180deg,rgba(0,0,0,0) 78.12%,#000 100%),url(../images/hero-mobile.png);
    background-size: cover
  }
}
.hero-page.hero-page__connect {
  margin-bottom: 0
}
@media (max-width:1199px) {
  .hero-page.hero-page__connect {
    margin-bottom: 0
  }
}
@media (max-width:767px) {
  .hero-page__connect .header-page {
    margin-bottom: 60px
  }
}
@media (max-width:1199px) {
  .hero-page__inner.hero-page__connect {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}
@media (max-width:767px) {
  .hero-page__img {
    height: 282px
  }
}
.hero-page__col {
  width: 50%
}
.header-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 50px;
  background: #171717;
  border-radius: 20px;
  margin-bottom: 50px;
  position: relative
}
@media (max-width:767px) {
  .header-page {
    padding: 18px 20px 18px 10px;
    margin-bottom: 136px
  }
}
@media (max-width:767px) {
  .header-page__col:first-child {
    margin-bottom: 0
  }
}
.site-logo {
  display: inline-block;
  width: 230px;
  height: 42px
}
.site-logo img {
  max-width: 100%;
  max-height: 100%
}
@media (max-width:767px) {
  .site-logo {
    width: 181px;
    height: 33px
  }
}
.header-page__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase
}
@media (max-width:767px) {
  .header-page__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}
.header-page__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.header-page__btn svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 15px;
  color: #da214d;
  z-index: 10;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}
.header-page__btn strong {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  z-index: 10;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}
.header-page__btn:first-child:hover {
  cursor: pointer
}
.header-page__btn:first-child:hover strong {
  color: #ffc93f
}
.header-page__btn:last-child {
  -webkit-box-shadow: inset 0 0 0 1px #ffc93f;
  box-shadow: inset 0 0 0 1px #ffc93f;
  border-radius: 100px;
  min-height: 50px;
  padding: 15px 70px;
  margin-left: 30px;
  position: relative;
  z-index: 0
}
@media (max-width:767px) {
  .header-page__btn:last-child {
    margin-left: 0;
    margin-top: 10px;
    position: absolute;
    bottom: -70px;
    left: 50%;
    margin-left: -122px
  }
}
.header-page__btn:last-child:hover {
  cursor: pointer
}
.header-page__btn:last-child:hover strong {
  color: #000
}
.header-page__btn:last-child::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear,left top,left bottom,from(#ffc93f),to(#ff9b3f));
  background: -o-linear-gradient(top,#ffc93f 0,#ff9b3f 100%);
  background: linear-gradient(180deg,#ffc93f 0,#ff9b3f 100%);
  border-radius: 100px;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.header-page__btn:last-child:hover::after {
  opacity: 1
}
.hero-page__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center
}
@media (max-width:1199px) {
  .hero-page__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
}
@media (max-width:767px) {
  .hero-page__connect {
    margin-bottom: 20px
  }
}
@media (max-width:767px) {
  .hero-page__connect .hero-page__head {
    margin-bottom: 0
  }
}
.hero-page__connect .hero-page__col {
  width: 50%
}
@media (max-width:1199px) {
  .hero-page__connect .hero-page__col {
    width: 100%
  }
}
.hero-page__connect .hero-page__col:first-child {
  margin-bottom: 30px
}
.hero-page__connect .hero-page__col img {
  max-height: 100%
}
@media (max-width:991px) {
  .hero-page__col:first-child {
    width: 100%;
    margin: auto
  }
}
@media (max-width:767px) {
  .hero-page__col:last-child {
    width: 90%;
    margin: 0 auto 18px
  }
}
@media (max-width:767px) {
  .hero-page__col:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}
.hero-page__head {
  margin-bottom: 44px;
  text-align: left
}
@media (max-width:1199px) {
  .hero-page__head {
    margin-bottom: 30px;
    text-align: center
  }
}
@media (max-width:767px) {
  .hero-page__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}
.hero-page__title {
  color: #ffc93f;
  font-size: 60px;
  line-height: 70px;
  font-weight: 700;
  margin-bottom: 10px
}
@media (max-width:1199px) {
  .hero-page__title {
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 0
  }
}
@media (max-width:767px) {
  .hero-page__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 20px;
    text-align: center
  }
}
.hero-page__subtitle {
  color: #fff;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-transform: none;
  display: inline-block;
  margin-bottom: 25px
}
@media (max-width:1199px) {
  .hero-page__subtitle {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 18px
  }
}
@media (max-width:767px) {
  .hero-page__subtitle {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    text-align: center
  }
}
.hero-page__descr {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #fff
}
@media (max-width:1199px) {
  .hero-page__descr {
    font-size: 18px
  }
}
@media (max-width:767px) {
  .hero-page__descr {
    font-size: 16px;
    line-height: 20px;
    text-align: center
  }
}
.hero-page__content,
.hero-page__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}
@media (max-width:991px) {
  .hero-page__content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}
@media (max-width:767px) {
  .hero-page__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
}
@media (max-width:767px) {
  .hero-page__info {
    margin-top: 10px
  }
}
.hero-page__btn {
  background: -webkit-gradient(linear,left top,left bottom,from(#ffc93f),to(#ff9b3f));
  background: -o-linear-gradient(top,#ffc93f 0,#ff9b3f 100%);
  background: linear-gradient(180deg,#ffc93f 0,#ff9b3f 100%);
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  min-height: 50px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
  position: relative;
  text-decoration: none;
  max-width: 245px;
  width: 100%;
  z-index: 10
}
@media (max-width:767px) {
  .hero-page__btn {
    margin-right: 0
  }
}
.hero-page__btn::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear,left top,left bottom,from(#ffe194),to(#ffc793));
  background: -o-linear-gradient(top,#ffe194 0,#ffc793 100%);
  background: linear-gradient(180deg,#ffe194 0,#ffc793 100%);
  border-radius: 100px;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.hero-page__btn:hover::before {
  opacity: 1
}
.hero-page__info img {
  max-width: 100%;
  max-height: 100%
}
.hero-page__info p {
  color: rgba(255,255,255,.5);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400
}
.hero-page__info-img {
  width: 40px;
  height: 40px;
  margin-right: 20px
}
.casino-img {
  max-width: 100%;
  width: 100%;
  height: auto
}
@media (max-width:767px) {
  .casino-img {
    width: 314px;
    margin: 0 auto
  }
}
.casino-img_connect {
  width: 595px;
  margin-left: auto
}
@media (max-width:767px) {
  .casino-img_connect {
    width: 223px
  }
}
.hero-page__offer {
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  margin: auto;
  position: relative
}
.hero-page__offer .hero-page__offer-link {
  text-decoration: none;
  color: #eb2655
}
@media (max-width:1199px) {
  .hero-page__offer {
    margin-top: 30px
  }
}
@media (max-width:767px) {
  .hero-page__offer {
    font-size: 16px;
    line-height: 26px;
    position: unset;
    left: unset;
    top: unset;
    margin-left: unset
  }
}
.hero-page__offer::after {
  content: "";
  position: absolute;
  width: 92px;
  height: 5px;
  background: #ffc93f;
  border-radius: 100px;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
@media (max-width:767px) {
  .hero-page__offer::after {
    display: none
  }
}
.hero-page__offer-title {
  font-size: 36px;
  line-height: 38px;
  text-transform: uppercase
}
@media (max-width:767px) {
  .hero-page__offer-title {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px
  }
}
.main-page {
  position: relative
}
.main-page::before {
  content: "";
  position: absolute;
  top: 0;
  background-image: url(../images/image-3.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: .7;
  width: 100%;
  height: 100%
}
@media (max-width:991px) {
  .main-page::before {
    display: none
  }
}
.main-page::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-image: url(../images/coint.png);
  background-size: 432px 432px;
  background-position: bottom -33px left -33px;
  background-repeat: no-repeat;
  z-index: -1;
  width: 100%;
  height: 100%
}
@media (max-width:991px) {
  .main-page::after {
    display: none
  }
}
.main-page__active::before {
  display: none
}
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: -30px
}
@media (max-width:1199px) {
  .cards {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: -70px
  }
}
@media (max-width:767px) {
  .cards {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 0
  }
}
@media (max-width:767px) {
  .cards::before {
    content: "";
    position: absolute;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(31.14%,#000),color-stop(61.75%,rgba(0,0,0,0)),color-stop(95.32%,#000)),url(../images/mobile.png);
    background-image: -o-linear-gradient(top,#000 31.14%,rgba(0,0,0,0) 61.75%,#000 95.32%),url(../images/mobile.png);
    background-image: linear-gradient(180deg,#000 31.14%,rgba(0,0,0,0) 61.75%,#000 95.32%),url(../images/mobile.png);
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .7;
    width: 100%;
    height: 100%;
    z-index: -1
  }
}
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background: #1d1d1d;
  -webkit-box-shadow: 0 10px 20px -5px rgba(255,244,189,.25);
  box-shadow: 0 10px 20px -5px rgba(255,244,189,.25);
  border-radius: 20px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  min-height: 130px;
  margin-right: 30px;
  position: relative;
  z-index: 10;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc((100% - 3*30px)/ 3);
  flex: 0 0 calc((100% - 3*30px)/ 3);
  max-width: calc((100% - 3*30px)/ 3)
}
@media (max-width:1199px) {
  .card {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc((100% - 2*30px)/ 2);
    flex: 0 0 calc((100% - 2*30px)/ 2);
    max-width: calc((100% - 2*30px)/ 2);
    margin-bottom: 70px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}
@media (max-width:767px) {
  .card {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0;
    padding: 41px 10px 20px
  }
}
.card:hover {
  cursor: pointer
}
.card::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #261d18;
  border-radius: 10px;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.card:hover::after {
  opacity: 1
}
.card__icon {
  margin-right: 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 89px;
  height: 89px
}
@media (max-width:767px) {
  .card__icon {
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -30px;
    width: 61px;
    height: 61px;
    margin-right: 0
  }
}
.card__content {
  text-align: left
}
@media (max-width:767px) {
  .card__content {
    text-align: center
  }
}
.card__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  margin-bottom: 10px;
  white-space: nowrap;
  color: #ffc93f
}
@media (max-width:1199px) {
  .card__title {
    white-space: unset
  }
}
@media (max-width:767px) {
  .card__title {
    font-size: 20px;
    line-height: 24px
  }
}
.card__subtitle {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  display: block;
  font-family: gilroymedium
}
.main-page__btn {
  margin: 30px auto 0
}
.main-page__connect {
  margin-bottom: 50px
}
.main-page__connect::after,
.main-page__connect::before {
  display: none
}
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5,1fr);
  gap: 30px
}
@media (max-width:1199px) {
  .grid {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3,1fr)
  }
}
@media (max-width:991px) {
  .grid {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2,1fr)
  }
}
.grid__item {
  background: #c4c4c4;
  border-radius: 10px;
  width: 100%;
  min-height: 332px;
  display: block;
  position: relative;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}
@media (max-width:767px) {
  .grid__item {
    min-height: 250px
  }
}
@media (max-width:767px) {
  .grid__item:nth-child(3n) {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -ms-grid-row-span: 2;
    grid-row: span 2
  }
}
.grid__item:hover {
  cursor: pointer
}
.grid__item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(17,26,54,.5)),to(rgba(4,9,27,.5)));
  background: -o-linear-gradient(top,rgba(17,26,54,.5) 0,rgba(4,9,27,.5) 100%);
  background: linear-gradient(180deg,rgba(17,26,54,.5) 0,rgba(4,9,27,.5) 100%);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0
}
.grid__item:hover::after {
  opacity: 1
}
.grid__item img {
  display: block;
  border-radius: 10px
}
.grid__item-row {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -ms-grid-row-span: 2;
  grid-row: span 2
}
@media (max-width:991px) {
  .grid__item-row {
    grid-column: initial;
    grid-row: initial
  }
}
.grid__item .start-btn,
.grid__item-row .start-btn {
  background: -webkit-gradient(linear,left top,left bottom,from(#ffc93f),to(#ff9b3f));
  background: -o-linear-gradient(top,#ffc93f 0,#ff9b3f 100%);
  background: linear-gradient(180deg,#ffc93f 0,#ff9b3f 100%);
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  opacity: 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  min-height: 50px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
  text-decoration: none;
  width: 100%;
  z-index: 10;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
@media (max-width:767px) {
  .grid__item .start-btn,
  .grid__item-row .start-btn {
    margin-right: 0;
    font-size: 14px
  }
}
.start-btn::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear,left top,left bottom,from(#ffe194),to(#ffc793));
  background: -o-linear-gradient(top,#ffe194 0,#ffc793 100%);
  background: linear-gradient(180deg,#ffe194 0,#ffc793 100%);
  border-radius: 100px;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.grid__item .start-btn:hover::after,
.grid__item-row .start-btn:hover::after {
  opacity: 1
}
.grid__item .start-btn {
  max-width: 180px
}
.grid__item-row .start-btn {
  max-width: 245px
}
@media (max-width:767px) {
  .grid__item .start-btn,
  .grid__item-row .start-btn {
    font-size: 12px;
    text-align: center;
    max-width: 130px;
    padding-right: 5px;
    padding-left: 5px;
    min-height: 30px
  }
}
.grid__item:hover .start-btn {
  opacity: 1
}
.popup-page {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s
}
.popup-page.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1001
}
.popup-page.active .popup-page__inner {
  -webkit-transform: translate(-50%,-50%) scale(1);
  -ms-transform: translate(-50%,-50%) scale(1);
  transform: translate(-50%,-50%) scale(1)
}
.popup-page__inner {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) scale(0);
  -ms-transform: translate(-50%,-50%) scale(0);
  transform: translate(-50%,-50%) scale(0);
  background: -webkit-gradient(linear,left top,left bottom,from(#ffc93f),to(#ff9b3f));
  background: -o-linear-gradient(top,#ffc93f 0,#ff9b3f 100%);
  background: linear-gradient(180deg,#ffc93f 0,#ff9b3f 100%);
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  border-radius: 10px;
  padding: 30px 20px 37px;
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
  z-index: 20
}
@media (max-width:767px) {
  .popup-page__inner {
    padding: 16px;
    width: 90%
  }
}
.close-btn {
  position: absolute;
  top: -13px;
  right: -13px;
  width: 26px;
  height: 26px;
  background: #fff;
  border-radius: 50%;
  background-image: url(../images/icons/close.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 9px 9px
}
.close-btn:hover {
  cursor: pointer
}
.popup-page__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
  color: #000
}
.form-page__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px
}
.sign-page .form-page__wrp {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 0
}
.sign-page .form-page__wrp:first-child {
  margin-bottom: 20px
}
.sign-page .form-page__field:first-child {
  margin-right: 0;
  margin-bottom: 10px
}
.form-page__wrp.form-checkbox {
  margin-top: 28px;
  margin-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
.form-checkbox__wrp {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.form-checkbox__input {
  display: none
}
.form-checkbox__circular {
  position: relative;
  width: 15px;
  height: 15px;
  border: 1px solid #010101;
  margin-right: 10px;
  display: inline-block;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.form-checkbox__circular:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s
}
.form-checkbox__wrp input:checked + .form-checkbox__circular:before {
  opacity: 1
}
.form-checkbox__text {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #000;
  font-family: gilroymedium,Arial,Helvetica,sans-serif
}
.form-page__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%
}
.form-page__field:first-child {
  margin-right: 30px
}
.form-page__label {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  margin-bottom: 8px;
  display: inline-block;
  color: #000;
  font-family: gilroymedium,Arial,Helvetica,sans-serif
}
@media (max-width:767px) {
  .form-page__label {
    line-height: 14px;
    font-size: 12px;
    margin-bottom: 4px
  }
}
.form-page__input {
  width: 100%;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  min-height: 40px;
  padding: 12px;
  color: #000;
  outline: 0
}
@media (max-width:767px) {
  .form-page__input {
    min-height: 20px;
    padding: 5px;
    font-size: 12px
  }
}
.form-page__btn {
  background: #000;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  min-height: 50px;
  padding-right: 15px;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  position: relative;
  max-width: 245px;
  width: 100%;
  margin: 0 auto;
  z-index: 10
}
.form-page__btn::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear,left top,left bottom,from(#ffe194),to(#ffc793));
  background: -o-linear-gradient(top,#ffe194 0,#ffc793 100%);
  background: linear-gradient(180deg,#ffe194 0,#ffc793 100%);
  border-radius: 10px;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.form-page__btn:hover::before {
  opacity: 1
}
.form-page__btn:hover {
  color: #000
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  display: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  z-index: 10
}
.overlay.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.footer-page {
  position: relative;
  margin-top: 50px
}
@media (max-width:767px) {
  .footer-page {
    margin-top: 40px
  }
}
.footer-page__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%
}
@media (max-width:991px) {
  .footer-page__item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}
@media (max-width:991px) {
  .footer-page__item .footer-page__col:first-child {
    margin-bottom: 20px
  }
}
.footer-page__item:first-child {
  padding: 14px 60px 14px 20px;
  background: #171717;
  border-radius: 20px;
  margin-bottom: 20px
}
@media (max-width:768px) {
  .footer-page__item:first-child {
    padding: 20px;
    margin-bottom: 20px
  }
}
@media (max-width:767px) {
  .footer-page__item:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}
.footer-page__item:nth-child(2) {
  margin-bottom: 30px
}
.footer-page__bottom {
  background-color: transparent;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 32px
}
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
@media (max-width:767px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}
.contact__item:not(:last-child) {
  margin-right: 30px
}
@media (max-width:767px) {
  .contact__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px
  }
}
.contact__link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}
.contact__link:hover {
  color: #ffdf3f
}
.footer-page__text {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: rgba(255,255,255,.3)
}
@media (max-width:767px) {
  .footer-page__text {
    font-size: 12px;
    line-height: 22px
  }
}
.footer-page__private {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto
}
.footer-page__private img {
  width: 40px;
  height: 40px;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.footer-page__private span {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  display: inline-block;
  margin-left: 10px
}
@media (max-width:767px) {
  .footer-page__private span {
    margin-left: 0;
    margin-top: 10px
  }
}
@media (max-width:767px) {
  .footer-page__private {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center
  }
}
.footer-page__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%
}
@media (max-width:767px) {
  .footer-page__copyright {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}
.footer-page__copyright span {
  color: #ffc93f;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400
}
@media (max-width:767px) {
  .footer-page__copyright span:last-child {
    display: none
  }
}
.footer-page__copyright div {
  display: inline-block;
  text-decoration: underline
}
/*# sourceMappingURL=app/css/main.css.map */
